{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}

<div class="login-form">
    <form method="post" class="mb-4 p-4">
        <h2 class="text-center mb-3">{{get_locale.log_in_form}}</h2>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="{{get_locale.username}}" name="username" id="username"
                   required="required">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="{{get_locale.password}}" name="password"
                   id="password" required="required">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block font-weight-bold">
                {{get_locale.log_in}}
            </button>
        </div>
    </form>
    <p class="text-center">
        <a href="{{ url_for('auth.register') }}">
            {{get_locale.create_account}}
        </a>
    </p>
</div>
{% endblock %}
